nav
    ul.nav__left
        li.nav__element
            a(href='#')
                .nav__element--wrapper
                    | D Tunes
        li.nav__element
            a(href='#') Home
        li.nav__element
            a(href='#') Friends
    ul.nav__right
        li.nav__element
            a(href='#') Login
        li.nav__element
            a(href='#') Sign up