include _songCard

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/d-tunes.css')
        link(rel='stylesheet' href='/css/home.css')
        title D-Tunes
    body
        header
            include _header
        .song
            .song__header Songs in this Album
            .song__container
                each song in albumSongs
                    a(href=`/song/${song._id}`)
                        +songCard(song)
        footer
            include _footer