doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/css/d-tunes.css')
    link(rel='stylesheet' type='text/css' href='/css/album.css')
    title Album Collection
header
    include _header
secion.album
    h1.album_header Listen By Album
    .album__container
        include _albumCard
        - console.log(albums)
        for album in albums
            +albumCard(album)
footer
    include _footer