include _songCard

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/d-tunes.css')
        link(rel='stylesheet' href='/css/home.css')
        title D-Tunes
    body
        header
            include _header
        main.cat
            h2.cat__heading Browse Through
            .cat__container
                a(href='http://127.0.0.1:8000/albums')
                    .cat__card
                        img.cat__card--img(src='/img/static/album.svg' alt='')
                        h3.cat__card--text ALBUM
                a(href='http://127.0.0.1:8000/playlist')
                    .cat__card
                        img.cat__card--img(src='/img/static/playlist.svg' alt='')
                        h3.cat__card--text PLAYLIST
            section.main__bg
                img.main__bg--img(src='/img/static/music temp.svg' alt='')
        hr
        .song
            .song__header Top Picks . . Just for you,
            .song__container
                 for song in songs
                    a(href=`/song/${song._id}`)
                        +songCard(song)
        footer
            include _footer